<ion-content>
    <ion-button expand="block" routerLink="/asignacion">
        Asignacion de cursos
      </ion-button>
      <ion-button expand="block" routerLink="/cursos-asignados">
        Cursos Asignados
      </ion-button>
      <ion-button expand="block" routerLink="/foro">
        Foros
      </ion-button>
      <ion-button expand="block" routerLink="/estudiante-actividades">
        Actividades
      </ion-button>
      <ion-button expand="block" routerLink="/estudiante-evaluaciones">
        Evaluaciones
      </ion-button> 
      <ion-button expand="block" routerLink="/notas-actividades">
        Notas de Actividades
      </ion-button>  
      <ion-button expand="block" routerLink="/notas-evaluaciones">
        Notas de Evaluaciones
      </ion-button>
      <ion-button expand="block" routerLink="/mensajes">  
        Buzon de entrada
      </ion-button>
      <ion-button expand="block" routerLink="/ticket">  
        Ticket
      </ion-button>
      <ion-button expand="block" routerLink="/login">  
        Cerrar Sesion
      </ion-button>
</ion-content>
