<ion-content>
    <ion-button expand="block" routerLink="/asignacion">
        Asignacion de cursos
      </ion-button>
      <ion-button expand="block">
        Cursos Asignados
      </ion-button>
      <ion-button expand="block">
        Foros
      </ion-button>
      <ion-button expand="block">
        Actividades
      </ion-button>
      <ion-button expand="block">
        Evaluaciones
      </ion-button> 
      <ion-button expand="block">
        Notas de Actividades
      </ion-button>  
      <ion-button expand="block">
        Notas de Evaluaciones
      </ion-button>
      <ion-button expand="block">  
        Buzon de entrada
      </ion-button>
      <ion-button expand="block">  
        Ticket
      </ion-button>
      <ion-button expand="block" routerLink="/login">  
        Cerrar Sesion
      </ion-button>
  
</ion-content>