<ion-content>
    <ion-button expand="block" routerLink="/asignacion" routerLink="/foro">
        Foros
      </ion-button>
      <ion-button expand="block" routerLink="/mensajes"> 
        Mensajes
      </ion-button>
      <ion-button expand="block">
        Actividades
      </ion-button>
      <ion-button expand="block">
        Evaluaciones
      </ion-button>
      <ion-button expand="block">
        Publicaciones
      </ion-button> 
      <ion-button expand="block">
        Asistencia de estudiantes
      </ion-button>  
      <ion-button expand="block" routerLink="/login">  
        Cerrar Sesion
      </ion-button>
  
</ion-content>