<app-header title="Cursos asignados " >

</app-header>

<ion-content>

  <ion-card *ngFor="let curso of cursosAsignados">
    <ion-card-header>
      <ion-card-title>{{curso.nombre}}</ion-card-title>
      <ion-card-subtitle>Seccion: {{curso.identificador_seccion}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Horario: {{curso.hora_inicio}} - {{curso.hora_final}}</p>
      <p>Fecha desasignacion: {{curso.fecha_desasignacion}}</p>
      <h3>Nota: {{curso.nota}}</h3>
    </ion-card-content>
  </ion-card>
</ion-content>
